@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
    --White: hsl(0, 100%, 100%);
    --Grey-500: hsl(0, 0%, 63%);
    --Grey-800: hsl(0, 0%, 27%);
    --Black: hsl(0, 0%, 0%);
    --Paragraph: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "League Spartan", sans-serif;
    font-size: var(--Paragraph);
}

.container {
    background-color: var(--White);
    position: relative;
    max-width: 1440px;
    margin: auto;
}

/* Navbar */
.container nav {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 3rem;
    position: absolute;
    padding: 3rem;
    z-index: 10;
}

nav .open-menu,
.nav-links .close-menu {
    display: none;
}

nav .nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-links ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.nav-links ul li a {
    text-decoration: none;
    color: var(--White);
    text-transform: lowercase;
    position: relative;
}

.nav-links ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--White);
    left: 50%;
    transform: translateX(-50%);
    bottom: -0.5rem;
    transition: all 0.3s ease;
}

.nav-links ul li a:hover::after {
    width: 60%;
}

/* Slider */
.hero {
    width: 100%;
    height: 31rem;
    position: relative;
    overflow: hidden;
}

.hero .slide {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    transition: transform 1.5s ease;
}

.slide .image-container {
    width: 57%;
    position: relative;

    & img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }
}

.slide .text-container {
    width: 43%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding: 0 5rem;
}

.slide .text-container .title {
    font-size: 2.5rem;
}

.slide .text-container .description {
    color: var(--Grey-500);
    line-height: 1.5rem;
}

.slide .text-container .shop-btn {
    border: none;
    background: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.6rem;
    font-family: "League Spartan", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

.slide .text-container .shop-btn:hover {
    opacity: 50%;
}

.slide-btns {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 57%;
}

.slide-left,
.slide-right {
    border: none;
    background-color: var(--Black);
    padding: 1.5rem 1.8rem;
    cursor: pointer;

    &:hover {
        opacity: 50%;
    }
}

/* About section */
.about {
    display: flex;
    align-items: center;
}

.about div img {
    display: block;
}

.about .text-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 3rem;
}

.about .text-container .title {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 1rem;
}

.about .text-container .description {
    color: var(--Grey-500);
    line-height: 1.5rem;
}



/* ---------- Mobile Responsive ---------- */
@media screen and (max-width: 768px) {

    /* Navbar */
    nav .open-menu,
    .nav-links .close-menu {
        display: block;
        border: none;
        background: none;
        cursor: pointer;
    }

    nav .open-menu {
        position: absolute;
    }

    nav .logo {
        margin: auto;
    }

    nav .nav-links {
        background-color: var(--White);
        width: 100%;
        height: 100px;
        position: fixed;
        left: 0;
        top: -100px;
        opacity: 0;
        transition: top 0.5s ease, opacity 0.3s ease;
        padding-left: 3rem;
        z-index: 5;
    }

    nav .nav-links.open {
        top: 0;
        opacity: 1;
    }

    .nav-links ul li a {
        color: var(--Black);
    }

    .nav-links ul li a::after {
        background-color: var(--Black);
    }

    .container .overlay {
        content: '';
        position: fixed;
        background-color: var(--Black);
        width: 100%;
        height: 100vh;
        inset: 0;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
    }

    .container .overlay.active {
        opacity: 0.5;
        pointer-events: all;
    }
}